#app {
    font:
        14px "Century Gothic",
        Futura,
        sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
    list-style: none;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}


button.move {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  margin: 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.move:hover {
  border-color: #646cff;
}
button.move:focus,
button.move:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.move {
    width: 150px;
}
